body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Added from brillianse-web */
  color: #EAEAEA;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

/* Main container for all screens */
.app-container {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1, h2 {
  color: white;
  margin-top: 0;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #96c5ff;
  color: #111;
}
button:hover {
  opacity: 0.8;
}
/* Basic styles for native HTML5 slider */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #4E4E4E;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f481ff;
  cursor: grab;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f481ff;
  cursor: grab;
}